detectionQCM/opencvpython/__pycache__/calibration.cpython-310.pyc
detectionQCM/opencvpython/__pycache__/const.cpython-310.pyc
detectionQCM/opencvpython/__pycache__/systeme.cpython-310.pyc
detectionQCM/opencvpython/__pycache__/tools.cpython-310.pyc
