detectionQCM/opencvpython/__pycache__/*
detectionQCM/opencvpython/resource/un_exam/copies/conversion_png/*
detectionQCM/opencvpython/resource/un_exam/references/*
detectionQCM/opencvpython/resource/un_exam/reponses_eleve_*
detectionQCM/opencvpython/Temp/*
